* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.container {
  width: 100%;
  height: 50px;
  background: cornflowerblue;
  box-shadow: 3px 3px 10px #555;
}

.icon-for-navbar {
  color: #fff;
  float: left;
  margin: 10px;
  margin-left: 150px;
  font-size: 16px;
  margin-top: 7px;
  cursor: pointer;
}
.fa-bell {
  margin: 10px;
  cursor: pointer;
}
.fa-envelope {
  margin: 10px;
  cursor: pointer;
}
.fa-user {
  margin: 10px;
  cursor: pointer;
}
.fa-bell:nth-child(2):hover {
  color: crimson;
  transition: all 0.4s ease;
}
.fa-envelope:nth-child(4):hover {
  color: crimson;
  transition: all 0.4s ease;
}
.fa-user:nth-child(6):hover {
  color: crimson;
  transition: all 0.4s ease;
}
.logo-for-header {
  float: left;
  margin-left: -260px;
  margin-top: 10px;
}
h1 {
  margin-top: -5px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.search-box input {
  float: right;
  margin: 11px;
  outline: none;
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 30px;
  text-align: center;
  appearance: none;
  margin-right: 50px;
}
input::placeholder {
  padding: 28px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
}
.fa-search:hover {
  color: crimson;
}
.fa-search {
  float: right;
  margin: 18px;
  margin-right: -32px;
  color: #555;
  cursor: pointer;
}
.profile {
  float: right;
  margin-right: -300px;
  margin-top: 8px;
  color: #fff;
}
/*navbar*/
.sidebar {
  width: 300px;
  height: 690px;
  background: #e0e0e0;
  margin-top: -13px;
  border-radius: 5px;
  margin-left: 1px;
}
.all-icon-sidebar {
  margin: 15px;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 20px;
}
span {
  text-transform: capitalize;
}
.fa-user-friends,
.fa-user-plus,
.fa-shopping-cart,
.fa-video {
  margin-right: 10px;
  color: blue;
}
span:hover {
  color: red;
  transition: all 0.2s ease;
}

h4 {
  text-align: left;
  color: cornflowerblue;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 40px;
}
.information {
  margin: 13px;
  color: #555;
}
.follow {
  display: grid;
  color: #555;
  margin: 10px;
}
img {
  margin: 5px;
  object-fit: cover;
  margin-left: 10px;
  cursor: pointer;
}
aside {
  margin: 40px;
  margin-left: 75px;
  margin-top: -35px;
  color: #555;
  font-family: sans-serif;
}
/*sidebar*/
.sidebar-right {
  width: 270px;
  height: 720px;
  background: #e0e0e0;
  float: right;
  margin-top: -680px;
  border-radius: 5px;
  margin-right: 35px;
  appearance: none;
}
.title-right {
  margin: 10px;
  color: #555;
  text-transform: capitalize;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  display: flex;
}
.title-right-2 {
  float: right;
  margin-top: -29px;
  color: cornflowerblue;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
}
.bg-color,
.bg-color-2 {
  width: 55px;
  height: 60px;
  background: cornflowerblue;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #f6f6f6;
}
.text-sidebar-right {
  display: grid;
  margin: 20px;
  color: #555;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  margin-top: -130px;
}
.text-2-sidebar-right {
  display: grid;
  margin: 20px;
  color: #555;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
}
.fa-map-marker-alt {
  margin-right: 115px;
}
.location-or-place {
  text-align: center;
  margin-top: -90px;
  margin-right: 10px;
  color: #555;
  font-size: 15px;
}
.location-2 {
  text-align: center;
  margin-top: 38px;
  color: #555;
  font-size: 15px;
}
.advertisment {
  color: #555;
  font-weight: 600;
  margin-top: 45px;
  margin-left: 13px;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
}
.picture-advertisment {
  object-fit: cover;
}
img {
  border-radius: 20px;
}
h3 {
  margin: 14px;
  color: #555;
  text-transform: capitalize;
  letter-spacing: 1px;
}
section {
  float: right;
  margin: 10px;
  color: cornflowerblue;
  font-size: 12px;
  margin-top: -30px;
  text-transform: capitalize;
  cursor: pointer;
  font-family: sans-serif;
}
/*sidebar-right*/
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  margin-left: -480px;
  margin-top: -150px;
}
.text-of-your-story {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  margin-left: -260px;
  margin-top: -90px;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}
/*navbar-right*/
#icon-plus {
  cursor: pointer;
  color: cornflowerblue;
  font-size: 35px;
  margin-top: -120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  margin-left: -218px;
}
.your-profile {
  width: 540px;
  height: 200px;
  background: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 45px;
  border-radius: 10px;
}
.text-on-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin-top: -70px;
  margin-left: -146px;
  color: #555;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.text-on-profile-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -175px;
  margin-top: -43px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #555;
}
.picture-2 {
  background-size: cover;
  margin-left: -465px;
  margin-top: 15px;
}
.mind {
  text-align: left;
  margin: 12px;
  margin-left: 70px;
  color: #555;
  font-size: 16px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
}
.search-2 {
  text-align: center;
}
input {
  outline: none;
  border: none;
  width: 500px;
  text-align: center;
  align-items: center;
  background: #f6f6f6;
  margin-top: 15px;
}
input[type="text"]:only-of-type {
  background: none;
  border-bottom: 1px solid #555555;
}
.icon-profile {
  text-align: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  font-size: 25px;
  appearance: none;
  margin-top: -5px;
  margin-left: -200px;
}
.fa-video-slash {
  color: crimson;
  margin: 20px;
  margin-left: -100px;
}
.fa-camera {
  color: green;
  margin: 20px;
}
.fa-smile-beam {
  color: orangered;
  margin: 20px;
}
span {
  font-size: 15px;
  color: #555;
  text-transform: capitalize;
}
.more{
    cursor: pointer;
}
.icon-profile-2 {
  cursor: pointer;
  text-align: center;
  margin-top: -76px;
  font-size: 25px;
}
.icon-profile-3 {
  text-align: right;
  margin-top: -63px;
  margin-right: 37px;
  cursor: pointer;
  font-size: 25px;
}
.card-1 {
  width: 520px;
  height: 310px;
  background-color: #e0e0e0;
  margin-left: 10px;
  margin-top: 10px;
}
.main-picture-profile {
  object-fit: cover;
}
.text-for-picture-main,
.text-for-picture-main-2,
.text-for-picture-main-3 {
  text-align: center;
  margin-top: -46px;
  margin-left: -290px;
}
h6 {
  margin-top: 2px;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: -5px;
}
.paragrath,
.paragrath-2,
.paragrath-3 {
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: -5px;
  overflow-wrap: normal;
}
.picture {
  object-fit: contain;
}
.card-2 {
  width: 520px;
  height: 320px;
  background-color: #e0e0e0;
  margin-left: 5px;
  margin-top: 30px;
}
.picture-3 {
  text-align: center;
  align-items: center;
}
.card-3 {
  width: 520px;
  height: 310px;
  background-color: #e0e0e0;
  margin-left: 5px;
  margin-top: 30px;
}
.picture-4 {
  margin-top: -200px;
  text-align: center;
  align-items: center;
  object-fit: cover;
}
#preloader{
  background: #000 url(./loading.gif) no-repeat center center; 
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-size: 35%;
  overflow: hidden;
}
