*{
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: flex;
  margin: 0;
  padding: 0;
  background: #262626;
  justify-content: center;
  align-items: center;
}
.loading{
  position: relative;
  border-top: 10px solid cornflowerblue;
  border-bottom: 10px solid #91ee91;
}